.btn {
    width: 196px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 14px;
    padding-bottom: 14px;

    /* font-family: 'Montserrat'; */
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: calc(22 / 18);
    text-transform: uppercase;

    background-color: #EBD8FF;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-color: transparent;
    border-radius: 10px;

    cursor: pointer;
}

.btn.active {
    background-color: #5CD3A8;
}