.userTweetContainer {
    box-sizing: border-box;
    position: relative;
    width: 380px;
    height: 460px;
    padding: 20px 36px 36px 20px;

    background-image: linear-gradient(114.99deg, #471CA9 -0.99%, #5736A3 54.28%, #4B2A99 78.99%);
    box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
    border-radius: 20px;
}

.userTweetContainer::after {
    content: '';
    position: absolute;
    top: 46%;
    right: 0;

    width: 41%;
    height: 8px;

    background-color: #EBD8FF;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06), inset 0px -1.71846px 3.43693px #AE7BE3, inset 0px 3.43693px 2.5777px #FBF8FF;
}

.userTweetContainer::before {
    content: '';
    position: absolute;
    top: 46%;
    left: 0;

    width: 41%;
    height: 8px;

    background-color: #EBD8FF;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06), inset 0px -1.71846px 3.43693px #AE7BE3, inset 0px 3.43693px 2.5777px #FBF8FF;
}

/* .logo {} */

.tweetBcgImage {
    position: absolute;
    top: 20px;
    left: 36px;
    width: 308px;
    height: 168px;
    background-image: url('./cardBcg.png');
    background-size: contain;
}

.userTweetPhoto {
    position: absolute;
    top: 164px;
    left: 124px;
    
    display: block;
    width: 59px;
    height: 59px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
}

.userTweetPhotoWrapper {
    width: 80px;
    height: 80px;
    margin-top: 158px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;

    background-image: url("./ellips.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.userTweetText {
    margin-top: 0;
    /* font-family: 'Montserrat'; */
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    text-transform: uppercase;
    text-align: center;

    color: #EBD8FF;
}

.userTweetText:not(:last-child) {
    margin-bottom: 16px;
}

.userTweetText:last-child {
    margin-bottom: 26px;
}